# Market Learning
*Leveraging machine learning to help you learn the market and invest your money*

### Objective
The Market Learning project is intended to provide an adaptive, fact-based introduction of the stock market to a user with limited experience looking for help with personal investment decisions.

### Outline
- Data Collection
- Data Cleaning
- Visualization
- Prediction
- Conclusion

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
import yfinance as yf

### Data Collection
Collect data from sources

In [3]:
# Trading economics
url_1 = 'https://tradingeconomics.com/united-states/stock-market'
page_1 = requests.get(url_1)
page_1.status_code

403

In [4]:
# Wall street journal
url_2 = 'https://www.wsj.com/market-data/quotes/index/SPX/advanced-chart'
page_2 = requests.get(url_2)
page_2.status_code

403

In [5]:
# Yahoo finance
url_3 = 'https://finance.yahoo.com/quote/%' + '5EDJI/history?period1=694310400&period2=1681084800&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
page_3 = requests.get(url_3)
page_3.status_code

404

I was unable to webscrape several of the websites I found that contained sufficient historical data. 
Yahoo Finance lets users download .csv files of individual stocks' data, so I manually downloaded the following:

In [7]:
# Make an np array of dataframes so I don't need to memorize each acronym
df_ixic = pd.read_csv('^IXIC.csv')
df_ixic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2724 entries, 0 to 2723
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2724 non-null   object
 1   Open       2724 non-null   float64
 2   High       2724 non-null   float64
 3   Low        2724 non-null   float64
 4   Close      2724 non-null   float64
 5   Adj Close  2724 non-null   float64
 6   Volume     2724 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 149.1+ KB

In [8]:
df_index = pd.read_csv('INDEX.csv')
df_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       413 non-null    object
 1   Open       413 non-null    float64
 2   High       413 non-null    float64
 3   Low        413 non-null    float64
 4   Close      413 non-null    float64
 5   Adj Close  413 non-null    float64
 6   Volume     413 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 22.7+ KB

In [9]:
url_4 = 'https://www.google.com/finance/quote/.IXIC:INDEXNASDAQ?window=MAX'
page_4 = requests.get(url_4)
page_4.status_code

200

In [ ]:
# Initialize lists of stock ticker info
ticker = []
name = []
market_cap = []
stock_price = []
day_change = []
stock_volume = []
market_time = []
security_type = []
primary_exchange = []
industry = []
dividend_yield = []
PE_ratio = []
other_categories = []

In [5]:
goog = yf.Ticker('GOOG')
goog.info

{'address1': '1600 Amphitheatre Parkway',
 'city': 'Mountain View',
 'state': 'CA',
 'zip': '94043',
 'country': 'United States',
 'phone': '650 253 0000',
 'website': 'https://www.abc.xyz',
 'industry': 'Internet Content & Information',
 'sector': 'Communication Services',
 'longBusinessSummary': 'Alphabet Inc. offers various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, including ads, Android, Chrome, hardware, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play store; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in the provision of YouTube non-advertising services. The Google Cloud segment offers infrastructure, cybersecurity, data, analytics, AI, and machine learning, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services. The company was founded in 1998 and is headquartered in Mountain View, California.',
 'fullTimeEmployees': 190234,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Sundar  Pichai',
   'age': 49,
   'title': 'CEO & Director',
   'yearBorn': 1973,
   'fiscalYear': 2021,
   'totalPay': 6322599,
   'exercisedValue': 0,
   'unexercisedValue': 44544452},
  {'maxAge': 1,
   'name': 'Mr. Lawrence Edward Page',
   'age': 49,
   'title': 'Co-Founder & Director',
   'yearBorn': 1973,
   'fiscalYear': 2021,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sergey  Brin',
   'age': 48,
   'title': 'Co-Founder & Director',
   'yearBorn': 1974,
   'fiscalYear': 2021,
   'totalPay': 1,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ruth M. Porat',
   'age': 64,
   'title': 'Sr. VP & CFO',
   'yearBorn': 1958,
   'fiscalYear': 2021,
   'totalPay': 667411,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. J. Kent Walker',
   'age': 61,
   'title': 'Pres of Global Affairs, Chief Legal Officer & Company Sec.',
   'yearBorn': 1961,
   'fiscalYear': 2021,
   'totalPay': 662697,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Prabhakar  Raghavan',
   'age': 61,
   'title': 'Sr. VP of Knowledge and Information - Google',
   'yearBorn': 1961,
   'fiscalYear': 2021,
   'totalPay': 663643,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Philipp  Schindler',
   'age': 51,
   'title': 'Sr. VP & Chief Bus. Officer of Google',
   'yearBorn': 1971,
   'fiscalYear': 2021,
   'totalPay': 677617,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Amie Thuener O'Toole",
   'age': 47,
   'title': 'Chief Accounting Officer & VP',
   'yearBorn': 1975,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Ellen  West',
   'title': 'VP of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Fiona Clare Cicconi',
   'age': 56,
   'title': 'Chief People Officer',
   'yearBorn': 1966,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 2,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 10,
 'overallRisk': 10,
 'governanceEpochDate': 1680307200,
 'compensationAsOfEpochDate': 1640908800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 108.19,
 'open': 107.69,
 'dayLow': 107.59,
 'dayHigh': 109.575,
 'regularMarketPreviousClose': 108.19,
 'regularMarketOpen': 107.69,
 'regularMarketDayLow': 107.59,
 'regularMarketDayHigh': 109.575,
 'payoutRatio': 0.0,
 'beta': 1.090845,
 'trailingPE': 23.744034,
 'forwardPE': 18.092562,
 'volume': 20758686,
 'regularMarketVolume': 20758686,
 'averageVolume': 32202246,
 'averageVolume10days': 22935250,
 'averageDailyVolume10Day': 22935250,
 'bid': 109.59,
 'ask': 109.65,
 'bidSize': 1100,
 'askSize': 1200,
 'marketCap': 1397815115776,
 'fiftyTwoWeekLow': 83.45,
 'fiftyTwoWeekHigh': 131.9235,
 'priceToSalesTrailing12Months': 4.94214,
 'fiftyDayAverage': 99.2922,
 'twoHundredDayAverage': 101.63476,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 1318069207040,
 'profitMargins': 0.21204,
 'floatShares': 11065376070,
 'sharesOutstanding': 5968000000,
 'sharesShort': 29937248,
 'sharesShortPriorMonth': 30190230,
 'sharesShortPreviousMonthDate': 1677542400,
 'dateShortInterest': 1680220800,
 'sharesPercentSharesOut': 0.0023,
 'heldPercentInsiders': 0.00014999999,
 'heldPercentInstitutions': 0.63293,
 'shortRatio': 0.95,
 'impliedSharesOutstanding': 0,
 'bookValue': 19.935,
 'priceToBook': 5.490845,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1672444800,
 'earningsQuarterlyGrowth': -0.34,
 'netIncomeToCommon': 59972001792,
 'trailingEps': 4.61,
 'forwardEps': 6.05,
 'pegRatio': 1.32,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1658102400,
 'enterpriseToRevenue': 4.66,
 'enterpriseToEbitda': 14.521,
 '52WeekChange': -0.1445831,
 'SandP52WeekChange': -0.057847917,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'GOOG',
 'underlyingSymbol': 'GOOG',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'firstTradeDateEpochUtc': 1092922200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ee8cce8c-2475-31c0-8436-ecdf889cbfbd',
 'messageBoardId': 'finmb_29096',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 109.46,
 'targetHighPrice': 135.0,
 'targetLowPrice': 119.0,
 'targetMeanPrice': 125.11,
 'targetMedianPrice': 123.0,
 'recommendationMean': 1.5,
 'recommendationKey': 'strong_buy',
 'numberOfAnalystOpinions': 9,
 'totalCash': 113762000896,
 'totalCashPerShare': 8.883,
 'ebitda': 90770997248,
 'totalDebt': 29976999936,
 'quickRatio': 2.223,
 'currentRatio': 2.378,
 'totalRevenue': 282836008960,
 'debtToEquity': 11.703,
 'revenuePerShare': 21.652,
 'returnOnAssets': 0.12911999,
 'returnOnEquity': 0.23621,
 'grossProfits': 156633000000,
 'freeCashflow': 52531126272,
 'operatingCashflow': 91494998016,
 'earningsGrowth': -0.314,
 'revenueGrowth': 0.01,
 'grossMargins': 0.55379003,
 'ebitdaMargins': 0.32092997,
 'operatingMargins': 0.26461,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.162}

In [6]:
goog.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-15 00:00:00-04:00,93.540001,97.250000,93.040001,96.550003,38367300,0.0,0.0
2023-03-16 00:00:00-04:00,96.570000,101.970001,95.870003,101.070000,54499500,0.0,0.0
2023-03-17 00:00:00-04:00,100.839996,103.489998,100.750000,102.459999,76140300,0.0,0.0
2023-03-20 00:00:00-04:00,101.059998,102.580002,100.790001,101.930000,26033900,0.0,0.0
2023-03-21 00:00:00-04:00,101.980003,105.959999,101.860001,105.839996,33122800,0.0,0.0
2023-03-22 00:00:00-04:00,105.139999,107.510002,104.209999,104.220001,32336900,0.0,0.0
2023-03-23 00:00:00-04:00,105.889999,107.100998,105.410004,106.260002,31385800,0.0,0.0
2023-03-24 00:00:00-04:00,105.739998,106.160004,104.739998,106.059998,25245000,0.0,0.0
2023-03-27 00:00:00-04:00,105.320000,105.400002,102.629997,103.059998,25393400,0.0,0.0
2023-03-28 00:00:00-04:00,103.000000,103.000000,100.279999,101.360001,24913500,0.0,0.0
2023-03-29 00:00:00-04:00,102.720001,102.820000,101.029999,101.900002,26148300,0.0,0.0
2023-03-30 00:00:00-04:00,101.440002,101.610001,100.290001,101.320000,25009800,0.0,0.0
2023-03-31 00:00:00-04:00,101.709999,104.190002,101.440002,104.000000,28086500,0.0,0.0
2023-04-03 00:00:00-04:00,102.669998,104.949997,102.379997,104.910004,20719900,0.0,0.0
2023-04-04 00:00:00-04:00,104.839996,106.099998,104.599998,105.120003,20377200,0.0,0.0
2023-04-05 00:00:00-04:00,106.120003,106.540001,104.101997,104.949997,21864200,0.0,0.0
2023-04-06 00:00:00-04:00,105.769997,109.629997,104.815002,108.900002,34684200,0.0,0.0
2023-04-10 00:00:00-04:00,107.389999,107.970001,105.599998,106.949997,19741500,0.0,0.0
2023-04-11 00:00:00-04:00,106.919998,107.220001,105.279999,106.120003,18721300,0.0,0.0
2023-04-12 00:00:00-04:00,107.389999,107.586998,104.970001,105.220001,22761600,0.0,0.0
2023-04-13 00:00:00-04:00,106.470001,108.264999,106.440002,108.190002,21650700,0.0,0.0
2023-04-14 00:00:00-04:00,107.690002,109.580002,107.589996,109.459999,20745400,0.0,0.0